body {
    background-image: url(bear.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.isBear {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin: 0 auto 200px;
    padding: 60px;
}

.form input {
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0, 0, 14px;
    padding: 14px;
    box-sizing: border-box;
    font-size: 14px;
}

.explaination {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.input-form {
    text-align: center;
}

.result {
    font-family: sans-serif;
    font-size: 17px;
    text-align: center;
}
